body {
    background-color: #168AAD ;
  }
  header {
    background-color: #76C893;
    font-size: 50px;
    color: white;
    text-align: left;
  }
  ul {
    list-style-type: none;
  margin: 0;
  padding: 0;
  background-color:#333;
  overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 10px;
    font-size: 20px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #52B69A;
  }
  .active {
    background-color: rgb(226, 209, 22);
  }
  img {
    width: 300px;
    border-radius: 150px;
    float: right;
    margin-left: 150px;
    object-fit: cover;
  }
   p {
   margin-right: 100px;
   
  }
  main {
    color: white;
    font-family: "Playfair", Times, serif;
    font-size: 30px;
    text-decoration: none;
  }
   p{
    /*position: absolute;*/
    top: 0%;
    left: 0%;
    margin-left: 20vh;
  }
  h2{
    top: 0%;
    left: 0%;
    margin-left: 20vh;
  }