body {
    background-color: #168AAD ;
  }
/* header {
    background-color: #76C893;
    font-size: 50px;
    color: white;
    text-align: left;
  } */
  ul {
    position: fixed;
    width: 100%;
    top: 0;
    list-style-type: none;
  margin: 0;
  padding: 0;
  background-color:#333;
  overflow: hidden;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 10px;
    font-size: 20px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #52B69A;
  }
  .active {
    background-color: rgb(226, 209, 22);
  }
  img {
    width: 300px;
    border-radius: 150px;
    float: right;
    margin-left: 150px;
    object-fit: cover;
  }
   p {
   margin-right: 100px;
   
  }
  main {
    color: white;
    font-family: "Playfair", Times, serif;
    font-size: 30px;
    text-decoration: none;
  }
   p{
    /*position: absolute;*/
    top: 0%;
    left: 0%;
    margin-left: 20vh;
  }
  h2{
    top: 0%;
    left: 0%;
    margin-left: 20vh;

    color: #333;
  }
  h4{
    margin-left: 20vh;
  }
  .Home_section{
    margin-top: 10vh;
  }
  /* footer */
  footer{
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0.5em 4em;
    padding-bottom: 5em;
    align-items: center;
    text-align: start;
    height: 150px;
  }
  .Contacts_section{
    text-align: center;
  }